body {
    padding: 0;
    margin: 0;

    background-image: url('../css/image2/046.jpg');
    background-attachment: scroll;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center top;
    background-repeat: no-repeat;
}